<div class="container mt-5">
  <h1>Ask your question</h1>
  <%= form_with url: '/answer', method: :get, local: true, class: "mt-4" do |f| %>
    <div class="mb-3">
      <%= f.label :question, "Your Question", class: "form-label" %>
      <%= f.text_field :question, class: "form-control", placeholder: "Type your question..." %>
    </div>

    <%= f.submit "Ask the Coach", class: "btn btn-primary" %>
  <% end %>
</div>
